.detail-quiz-container {
    display: flex;
    gap: 20px;

    .left-content {
        width: 70%;
        border: 2px solid #333;

        .title {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            padding: 20px 0;
        }

        .q-content {
            margin-top: 20px;
            height: auto;
            position: relative;

            .question-description {
                width: 70%;
                border: 1px solid green;
                padding: 20px;
                margin: 20px 0;

            }
        }

        .image {
            width: 200px;
            height: 200px;
            transform: translateX(200%);

            img {
                width: 100%;
            }
        }

        .question {
            padding: 20px 10px;
            font-size: 22px;
            transform: translateX(50%);
            align-items: center;
            .a-child {
                margin: 15px 0 0 10px;
                font-size: 18px;
            }
        }

        .btn-quiz {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;

            button {
                margin-right: 5px;
            }
        }
    }

    .right-content {
        width: 30%;
        border-radius: 5px;
        border: 2px solid #ccc;
        padding: 20px;

        .main-timer {
            border-bottom: 1px dashed;
            padding: 10px 0 20px 0;
            text-align: center;
            font-size: 20px;
        }

        .main-questions {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            padding: 15px;
            .question-a {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                border: 1px solid #878787;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.5s;
                &:hover{
                    color: red;
                }
                &.selected{
                    background-color: #c6c6c6;
                }
                &.clicked{
                    color: red;
                }
            }
        }
    }
}